<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mafangui.hotel.mapper.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="cn.mafangui.hotel.entity.RoomType">
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="bed_num" jdbcType="INTEGER" property="bedNum" />
    <result column="bed_size" jdbcType="VARCHAR" property="bedSize" />
    <result column="chuanghu" jdbcType="INTEGER" property="chuanghu" />
    <result column="rest" jdbcType="INTEGER" property="rest" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id,room_type,remark,price,discount,area,bed_num,bed_size,chuanghu,create_time,update_time
  </sql>

  <sql id="Base_Column_List1">
   type.type_id,type.room_type,type.remark,price,type.discount,area,type.bed_num,bed_size,chuanghu,type.create_time,type.update_time
  </sql>

  <select id="getCount" resultType="java.lang.Integer">
    select count(type_id) from room_type
  </select>
  <select id="selectByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from room_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List1"></include>, (select count(*) from room_info info where type.type_id=info.type_id and info.room_status=1) rest from room_type type
  </select>
  <select id="selectAllWithRest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room_type where rest > 0
  </select>
  <select id="selectByRoomType" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room_type
    where room_type = #{roomType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>


  <delete id="batchDeleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_type
    where type_id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>


  <insert id="insert" parameterType="cn.mafangui.hotel.entity.RoomType">
    insert into room_type (type_id, room_type, remark,
      price, discount, area,
      bed_num, bed_size, chuanghu, rest,
      create_time, update_time)values (#{typeId,jdbcType=INTEGER}, #{roomType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{price,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, #{area,jdbcType=INTEGER},
      #{bedNum,jdbcType=INTEGER}, #{bedSize,jdbcType=VARCHAR}, #{chuanghu,jdbcType=INTEGER},
      #{rest,jdbcType=INTEGER},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="cn.mafangui.hotel.entity.RoomType">
    insert into room_type (room_type, remark,
      price, discount, area,
      bed_num, bed_size, chuanghu,rest,
      create_time, update_time)values (#{roomType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{price,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, #{area,jdbcType=INTEGER},
      #{bedNum,jdbcType=INTEGER}, #{bedSize,jdbcType=VARCHAR}, #{chuanghu,jdbcType=INTEGER}, #{rest,jdbcType=INTEGER},
      now(), now())
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mafangui.hotel.entity.RoomType">
    update room_type
  <set>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="bedNum != null">
        bed_num = #{bedNum,jdbcType=INTEGER},
      </if>
      <if test="bedSize != null">
        bed_size = #{bedSize,jdbcType=VARCHAR},
      </if>
      <if test="chuanghu != null">
        chuanghu = #{chuanghu,jdbcType=INTEGER},
      </if>
      <if test="rest != null">
        rest = #{rest,jdbcType=INTEGER},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="decrementMapper" parameterType="int">
    update room_type set rest=rest-1
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mafangui.hotel.entity.RoomType">
    update room_type
    set room_type = #{roomType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      discount = #{discount,jdbcType=DOUBLE},
      area = #{area,jdbcType=INTEGER},
      bed_num = #{bedNum,jdbcType=INTEGER},
      bed_size = #{bedSize,jdbcType=VARCHAR},
      window = #{window,jdbcType=INTEGER},
      rest = #{rest,jdbcType=INTEGER},
      update_time = now()
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
</mapper>
